/* Chat Window */

.chat__window {
  display: block;
  overflow: hidden;
}

.chat__window-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 7.5rem;
  padding: 0 1.5rem;
}

.chat__window-summary {
  display: flex;
  align-items: center;
}

.chat__window-about {
  width: calc(100% - 3.75rem);
  padding-left: 0.8rem;
}

.chat__window-about h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #5a5a5a;
  margin: 0;
}

.chat__window-about h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #b1b1b1;
  margin: 0;
}

.chat__window-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Notes Button */

.chat__window-options button {
  background: none;
  border: none;
  cursor: pointer;
}

.chat__window-options button svg {
  fill: #b6b6b6;
  width: 1.6rem;
  height: 1.6rem;
  margin: 1.4rem 0 0 0.5rem;
}

/* Selects */

.chat__window-options .select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

.chat__window-options .select p {
  margin: 0;
  color: #5a5a5a;
  font-size: 0.7rem;
  font-weight: 500;
  padding-left: 0.1rem;
}

/* Window messages */
.chat__window-messages {
  background-image: url(../../assets/img/chatbg.png);
  background-color: #f5ece3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  padding: 1rem;
  height: calc(100vh - 18rem);
}

/* Texbox */

.chat__window-textbox {
  height: 8.25rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat__window-textbox button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.chat__window-textbox label {
  height: 1.5rem;
  cursor: pointer;
}

.chat__window-textbox svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #b6b6b6;
  padding-right: 0.25rem;
}

.chat__window-textbox .message-write {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #4d4d4d;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  margin-left: 0.5rem;
}

.chat__window-textbox .message-write input {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 2rem;
  padding: 0 0.8rem;
  font-family: "Poppins", sans-serif;
  background-color: #4d4d4d;
  color: white;
}

/* Modal styles */

.template__modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: white;
}

.template__modal-header h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 1.5rem;
}

.template__close-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  margin-right: 0.6rem;
}
