.team {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.add-client {
  padding: 1.5rem 2rem 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
