.client-wrapper {
  margin: 0 2rem;
  height: calc(100vh - 195px);
  overflow: auto;
}

.client-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
}

.client-table thead[className="categories"] tr > th {
  border-bottom: 1px solid rgb(167, 167, 167, 0.25);
}

.client-table th,
.client-table td {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  padding: 0.8rem 1.5rem;
}

.client-table th {
  color: #99a6b7;
}

.client-table td {
  color: #5a5a5a;
}

.client-table tr {
  border-bottom: 1px solid rgb(167, 167, 167, 0.25);
}

.tools svg {
  padding-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  fill: #5a5a5a;
}

.tools svg:hover {
  fill: #2a97d9;
  cursor: pointer;
}
