.chat-card {
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  padding: 1rem;
  border-bottom: 1px solid rgb(167, 167, 167, 0.25);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.chat-card .client-avatar {
  margin: auto 0;
}

.chat-card:hover {
  background: #efefef;
}

.chat-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.7rem;
}

.chat-card__time {
  display: flex;
  justify-content: flex-end;
}

.chat-card__info h2 {
  font-weight: 500;
  font-size: 0.85rem;
  color: #5a5a5a;
  margin: 0;
  padding-bottom: 0.5rem;
}

.chat-card__info h3,
.chat-card__time {
  font-weight: 500;
  font-size: 0.7rem;
  color: #b1b1b1;
  margin: 0;
}

.chat-card__info .tags {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.chat-card__info .tags li {
  float: left;
}

.chat-card__info .tag {
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 0.7rem;
}

.chat-card hr {
  width: 100%;
  height: 0.06rem;
  background-color: rgb(167, 167, 167, 0.25);
  border: none;
}
