.feed {
  margin: 2rem;
  color: #5a5a5a;
}

.feed__welcome {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.feed__welcome h3 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.feed__welcome p {
  font-size: 1.25rem;
  color: #969696;
  margin: 0 0 1rem;
}

.feed__welcome hr {
  height: 0.06rem;
  background-color: rgb(167, 167, 167, 0.25);
  border: none;
}

/* Feed Blogs */
.blogs__main-new {
  display: grid;
  grid-template-columns: 18.7rem 1fr;
  background-color: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0.18rem 0.625rem rgb(0 0 0 / 0.2);
  padding: 2rem;
  margin-top: 1.5rem;
}

.main-new__video {
  display: flex;
  align-items: center;
}

.main-new__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.main-new__info h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.main-new__info p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.3rem 0 0 0;
}

.blogs__posts h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1.5rem 0 1rem 0;
  text-align: start;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
