.channels-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.channels h4,
.templates h4 {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.2rem;
  color: #5a5a5a;
  margin: 2.5rem 0 1rem 0;
}
