.channels-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.channels__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channels__content h4 {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 1.25rem;
  color: #5a5a5a;
  margin: 2rem 0 1rem 0;
}
