.account {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 5rem;
  margin: 1.25rem;
}

.account__photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notification-center {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.notification {
  position: relative;
  top: 0.625rem;
}

.icon_bell {
  position: relative;
}

.notification__number {
  background-color: red;
  font-size: 0.625rem;
  color: white;
  text-align: center;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  left: 0.5rem;
}

.account__info {
  display: block;
  justify-content: flex-start;
  align-self: center;
}

.account__photo img {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 1.40625rem;
}

.account__info h5 {
  font-size: 0.9375rem;
  margin: 0;
  padding: 0 0 0 0.9375rem;
}

.account__info p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0.3125rem 0 0 0.9375rem;
}
