.chat {
  display: grid;
  grid-template-columns: 2fr 4fr;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

/* Chat List */

.chat__list {
  box-shadow: 5px 0 5px -5px #ccc;
}

.chat__list-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8.25rem;
  padding: 0 0.8rem;
}

.chat__list-options input {
  font-size: 0.7rem;
}

.chat__list-options .chat__list-filter {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #6a707e;
  padding-top: 1.5rem;
}

.chat__list-options .chat__list-filter select {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: #109cf1;
  border: 0;
  outline: 0;
  padding: 0 0.3rem 0 0.2rem;
}

.chat__list-contacts {
  border-top: 1px solid rgb(167, 167, 167, 0.25);
  overflow-y: auto;
  height: calc(100vh - 8.3rem);
}
