.lead-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
}

.lead-card img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.lead-card__info b {
  font-weight: 600;
}

.lead-card__info h1 {
  font-size: 0.8rem;
  margin: 0;
  padding-left: 1rem;
  color: #5a5a5a;
  font-weight: 600;
}

.lead-card__info p {
  font-size: 0.7rem;
  margin: 0;
  padding-left: 1rem;
  color: #5a5a5a;
}
