.home {
  margin: 0 1.09rem 2.18rem 2.18rem;
  padding: 1.5rem;
  background-color: #ffffff;
}

.home__welcome {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.home__welcome h3 {
  font-weight: 500;
  font-size: 2.19rem;
  color: #5a5a5a;
  margin: 2.19rem 0 0;
}

.home__welcome p {
  font-size: 1.25rem;
  color: #9a9a9a;
  margin: 0 0 1.5rem;
}

hr {
  height: 0.0625rem;
  background-color: rgb(167, 167, 167, 0.25);
  border: none;
}

.home__channels {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.home__channels h4 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #5a5a5a;
  margin: 1.5rem 0;
}

.channel {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  background-color: #fafafa;
  border-radius: 0.75rem;
  box-shadow: 0 0.18rem 0.625rem rgb(0 0 0 / 0.2);
}

.channel__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel__icon img {
  width: 3.25rem;
  padding: 1rem;
}

.channel__description {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.channel__description h5 {
  font-weight: 600;
  font-size: 0.94rem;
  color: #5a5a5a;
  margin: 1.2rem 0 0.3rem;
}

.channel__description p {
  font-size: 0.65rem;
  color: #9a9a9a;
  margin: 0 0 1.2rem;
}

.channel__status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.25rem;
}

.channel__status img {
  width: 1.5rem;
}

.channel__status p {
  font-size: 0.95rem;
  color: #32ae7a;
  padding-left: 0.5rem;
}
