.note-panel {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  color: rgb(85, 85, 85);
  font-size: 0.85rem;
  margin: 1rem 4rem;
  height: 25rem;
}

/* New note */

.new-note {
  display: flex;
  justify-content: center;
  border: 1px solid #dfdfdf;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.new-note textarea {
  resize: none;
  width: 40rem;
  height: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  border: none;
  outline: none;
}

.new-note button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.new-note button svg {
  fill: #109cf1;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.5rem;
}

/* Note List */

.note-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 0.6rem;
}

.note-list__box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.note-list__box p {
  font-size: 0.7rem;
  margin: 0;
}

.note-list__box h1 {
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0 0 0.25rem 0;
}

.note-list__box h2 {
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0;
  color: rgb(85, 85, 85, 0.6);
}
