.note-message {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

.note-message__box {
  max-width: 50%;
  min-width: 6rem;
  word-wrap: break-word;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(85, 85, 85);
}
