.account {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  height: 5rem;
  margin: 1.25rem 1rem;
}

.account__photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.account__photo img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.account__info {
  display: block;
  justify-content: flex-start;
  align-self: center;
  padding-left: 0.9rem;
}

.account__info h5 {
  width: 9.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin: 0;
}

.account__info p {
  width: 9.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  margin: 0;
}
