.search {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 0.5fr 12fr;
  padding: 0.85rem;
}

.search__icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.search__icon:hover {
  background-color: #e5e5e5;
}

.search__input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

::placeholder {
  color: #90a0b7;
}
