.search {
  padding: 0.25rem 0.5rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  border-radius: 0.2rem;
}

.search__icon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  fill: #969696;
  background-color: white;
  cursor: pointer;
  border: none;
}

.search__icon:hover {
  background-color: #ebebeb;
}

.search__input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}

::placeholder {
  color: #969696;
}
