.team-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.team__content {
  margin-top: 2rem;
}

/* .team__options {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
} */
