.trammy-button {
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

.trammy-button span svg {
  width: 1rem;
  height: 1rem;
}

.trammy-button p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
