.analytics-card {
  background-color: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0.18rem 0.625rem rgb(0 0 0 / 0.2);
  text-align: start;
  padding: 1rem 1.25rem;
  margin: 0.5rem;
}
.analytics-card__title {
  display: flex;
  margin: auto 0;
}

.analytics-card__title h1 {
  font-weight: 400;
  font-size: 0.85rem;
  color: #969696;
  margin: 0;
}

.analytics-card__title svg {
  width: 1rem;
  height: 1rem;
  fill: #969696;
  padding-left: 0.35rem;
}

.analytics-card h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #5a5a5a;
  margin: 0.15rem 0 0 0;
}

/* Tooltip */
.analytics-card__tooltip {
  position: relative;
  display: inline-block;
}

.analytics-card__tooltip .analytics-card__tooltiptext {
  visibility: hidden;
  width: 18rem;
  height: 2rem;
  font-size: 0.7rem;
  background-color: #5a5a5a;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  text-align: start;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  top: -3.25rem;
  left: -4.5rem;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.analytics-card__tooltip:hover .analytics-card__tooltiptext {
  visibility: visible;
  opacity: 1;
}
