.setup-card {
  width: 50rem;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1.5fr 1fr;
  background-color: #fafafa;
  border-radius: 0.75rem;
  box-shadow: 0 0.18rem 0.625rem rgb(0 0 0 / 0.2);
}

.setup-card__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.setup-card__icon img {
  width: 3.25rem;
}

.setup-card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.setup-card__description span {
  display: flex;
  align-items: center;
  margin: 1.2rem 0 0.3rem;
}

.setup-card__description h5 {
  font-weight: 600;
  font-size: 0.94rem;
  color: #5a5a5a;
  margin: 0 0.5rem 0 0;
}

.setup-card__description h2 {
  font-weight: 400;
  font-size: 0.94rem;
  color: #969696;
  margin: 0;
}

.setup-card__description p {
  font-size: 0.65rem;
  color: #9a9a9a;
  margin: 0 0 1.2rem;
}

.setup-card__status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 0.85rem;
}

.setup-card__status svg {
  width: 1.2rem;
  height: 1.2rem;
  padding-right: 0.6rem;
}

.status-active {
  display: flex;
  align-items: center;
  color: #32ae7a;
  fill: #32ae7a;
}

.status-inactive {
  display: flex;
  align-items: center;
  color: red;
  fill: red;
}

.setup-card__button {
  padding: 2rem 2rem 2rem 0;
}

.setup-card__button button {
  border-radius: 1.2em;
  box-shadow: 0 0.18rem 0.625rem rgb(0 0 0 / 0.2);
}
