.navbar_container{
  background-color: #1A1A1A;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  height: 100%;
}

hr {
  height: 0.0625rem;
  background-color: #383838;
  border: none;
}

.navbar_logo {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 4rem;
  padding: 0.9375rem 1.25rem 0;
}

.navbar_logo img {
  width: 45%;
}

.navbar_menu {
  display: block;
  align-items: flex-start;
  justify-content: start;
  height: 21.875rem;
}

.navbar_list {
  margin: 0;
  padding: 1.25rem;
  display: block;
}

.navbar_list li {
  display: flex;
  align-items: center;
  padding-bottom: 0.625rem;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  font-size: 0.9375rem;
}

.navbar_list svg {
  width: 1rem;
  padding-right: 0.625rem;
}

li:hover path, li:hover {
  stroke: #2A97D9; 
  color:#2A97D9;
}