.navbar {
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  height: 100%;
}

hr {
  height: 0.0625rem;
  background-color: #383838;
  border: none;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 4rem;
  padding: 0.9375rem 1.25rem 0;
}

.navbar__logo img {
  width: 45%;
}

.navbar__menu {
  display: block;
  align-items: flex-start;
  justify-content: start;
  height: 21.875rem;
}

.navbar__list {
  margin: 0;
  padding: 1.25rem;
  display: block;
}

.navbar__list li {
  display: flex;
  align-items: center;
  padding-bottom: 0.625rem;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-size: 0.9375rem;
}

.navbar__list svg {
  width: 1rem;
  padding-right: 0.625rem;
}

li:hover path,
li:hover {
  stroke: #2a97d9;
  color: #2a97d9;
}
